.login {
  height: 100%;

  > .row {
    height: inherit;
  }

  &-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border: 1px solid white;

    &-header {
      padding: 10px 20px;
      background-color: indigo;
      color: white;
    }

    &-form {
      padding: 20px;
    }
  }

}
