<div class="container-fluid collection">
  <div class="row">

    <div class="col col-7">
      <p-fieldset legend="Productos">
        <div id="app-products" class="row">
          <div class="col col-4" *ngFor="let n of numbers">
            <button>Button Submit</button>
          </div>
        </div>
      </p-fieldset>
    </div>

    <div id="collection-bill" class="col col-5">
      <p-fieldset legend="Cuenta">
        <p-table [value]="cars" [scrollable]="true">
          <ng-template pTemplate="header">
            <tr>
              <th>Cantidad</th>
              <th>Producto</th>
              <th>Precio</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-car>
            <tr>
              <td>{{car.vin}}</td>
              <td>{{car.year}}</td>
              <td>{{car.brand}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td colspan="2">Total</td>
              <td>$531,020</td>
            </tr>
          </ng-template>
        </p-table>
        <button>Cobrar</button>
      </p-fieldset>
    </div>

  </div>
</div>
