@import 'scss/variables';

// Fontawesome
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fa-solid.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fa-brands.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fa-regular.scss';

// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// PrimesNg
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';

html, body {
  height: 100%;
}

body {
  background: linear-gradient(to right bottom, indigo, #dedede);
  background-repeat: no-repeat;
}

.row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.col {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

// Fieldset Styles
.ui-fieldset {
  background: transparent;
  height: 100%;
  padding: 0.5em 0.5em 1em 0.5em;

  &-legend {
    background: transparent;
    color: white;
  }

  &-content-wrapper { height: calc(100% - 64px); }

  &-content {
    height: 100%;
    overflow-y: auto;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

// Table Styles
.ui-table {
  height: calc(100% - 100px);
  padding-bottom: 10px;

  .ui-table-scrollable-wrapper {
    height: 100%;
    .ui-table-scrollable-view {
      height: 100%;
      .ui-table-scrollable-body {
        background-color: #d9d9d9;
        height: calc(100% - 68px);
      }
    }
  }
}
